.main {
  width: 400px;
  height: 300px;
  background: red;
  color: black;
  font-family: Verdana;
  font-size: 50px;
  text-align: center;
}
.main:hover{
  height: 300px;
  background: green;
  color: yellow;
}